{
    "presets": [
        "env",
        "stage-2"
    ],
    "env": {
        "development": {
            "presets": [
                "env"
            ]
        }
    },
    "plugins": ["transform-runtime"]
}
